############################
# Build outputs (ALL modules)
############################
**/build/
**/.gradle/

############################
# APK / AAB
############################
*.apk
*.aab

############################
# Android Studio / IntelliJ
############################
.idea/
*.iml

############################
# Local config
############################
local.properties
keystore.properties
google-services.json

############################
# Keystore files
############################
*.jks
*.keystore
*.p12

############################
# Native build
############################
.externalNativeBuild/
.cxx/

############################
# Logs / temp
############################
*.log
*.tmp
*.swp
*.swo

############################
# OS files
############################
.DS_Store
Thumbs.db
desktop.ini
